<div class="row mb-2" *ngFor="let film of films; let i = index;">
  <div class="col-md-6" *ngIf="i % 2 == 0">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-info">{{ films[i].genre }}</strong>
        <h3 class="mb-0">{{ films[i].name }}</h3>
        <div class="mb-1 text-muted">{{ films[i].year }}</div>
        <p class="mb-auto">{{ films[i].description }}</p>
        <a href="#" class="stretched-link">Read more</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="img-thumbnail" src="{{ films[i + 1].images[0]}}" />
      </div>
    </div>
  </div>
  <div class="col-md-6" *ngIf="i % 2 == 0">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-info">{{ films[i + 1].genre }}</strong>
        <h3 class="mb-0">{{ films[i + 1].name }}</h3>
        <div class="mb-1 text-muted">{{ films[i + 1].year }}</div>
        <p class="mb-auto">{{ films[i + 1].description }}</p>
        <a href="#" class="stretched-link">Read more</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="img-thumbnail" src="{{ films[i + 1].images[0]}}" />
      </div>
    </div>
  </div>
</div>