<form>
  <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="form-group col-md-6">
          <label for="slug">Slug</label>
          <input type="text" class="form-control" id="slug">
      </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
        <label for="lead">Lead</label>
        <textarea class="form-control" id="lead" rows="3"></textarea>
      </div>
      <div class="form-group col-md-6">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="3"></textarea>
      </div>
  </div>  
  <div class="form-row">      
    <div class="form-group col-md-11">
        <label for="images" class="sr-only">Images</label>
        <input type="text" class="form-control" id="images" placeholder="Image">
    </div>
    <button type="button" class="btn btn-secondary mb-4">+</button>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="genres">Genre</label>
      <input type="text" class="form-control" id="genres">
    </div>
    <div class="form-group col-md-6">
        <label for="actors">Actors</label>
        <input type="text" class="form-control" id="actors">
    </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-2">
          <label for="duration">Duration</label>
          <input type="number" class="form-control" id="duration" min="1">
        </div>
        <div class="form-group col-md-5">
            <label for="fdate">Film date</label>
            <input type="text" class="form-control" id="filmslug">
        </div>
        <div class="form-group col-md-5">
            <label for="pdate">Publish date</label>
            <input type="text" class="form-control" id="pdate">
        </div>
  </div>
  <button type="button" class="btn btn-primary">Save</button>
</form>