<div class="row">
    <div class="col-md-12">
      <button routerLink="/films" type="button" class="btn btn-secondary">Back</button>
    </div>
</div>
<br />
<div class="row">
  <div class="col-md-6 overflow-hidden">
    <img class="img-fluid" src="http://img.over-blog-kiwi.com/1/36/64/60/20150323/ob_23a5c4_illuminatiwatcherdotcom-interstellar-m.jpg" />
  </div>
  <div class="col-md-6">
    <div class="row">
      <p class="h2">{{ film.name }}}</p>
    </div>
    <div class="row">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
          <p class="h6">2019</p>
        </div>
        <div class="col-md-4">
            <p class="h6">160 min</p>
        </div>
        <div class="col-md-4">
          <p class="h6">Drama | Fiction</p>
        </div>
    </div>
    <br />
    <div class="row">
        <p class="h6">Elena Mallovich, David Kristofer, ....</p>
    </div>
    <br />
    <div class="row">
      <p class="description">rgasdgsdg;nsdma;gl l;sdnglsadng ldsna gldsngsdnagl nlnda lnglndls anldsnglndsalgndskngkjsbkgh as</p>
    </div>
    <div class="row">
        <div class="btn-group" ngbDropdown>
            <button 
              type="button" class="btn btn-info dropdown-toggle" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              ngbDropdownToggle
            >
              Manage
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item" ngbDropdownItem href="#">Edit</a>
              <a class="dropdown-item" ngbDropdownItem href="#">Delete</a>
            </div>
          </div>
    </div>
  </div>
</div>
