<div class="row">
    <div class="col-md-12">
      <button routerLink="/films" type="button" class="btn btn-secondary">Back</button>
    </div>
</div>
<br />
<div class="row">
  <div class="col-md-6 overflow-hidden">
    <img class="img-fluid" [src]="film.images[0]" />
  </div>
  <div class="col-md-6">
    <div class="row">
      <p class="h2">{{ film.name }}</p>
    </div>
    <div class="row">
        <i *ngFor="let star of stars" class="fas fa-star"></i> ({{ film.rate }})
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
          <p class="h6">{{ film.year }}</p>
        </div>
        <div class="col-md-4">
            <p class="h6">{{ film.duration }} min</p>
        </div>
        <div class="col-md-4">
          <p class="h6">{{ filmGenres }}</p>
        </div>
    </div>
    <br />
    <div class="row">
        <p class="h6">{{ film.actors }}</p>
    </div>
    <br />
    <div class="row">
      <p class="description">{{ film.description }}</p>
    </div>
    <div class="row">
        <div class="btn-group" ngbDropdown>
            <button 
              type="button" class="btn btn-info dropdown-toggle" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              ngbDropdownToggle
            >
              Manage
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item" ngbDropdownItem routerLink="edit">Edit</a>
              <a class="dropdown-item" ngbDropdownItem routerLink="delete">Delete</a>
            </div>
          </div>
    </div>
  </div>
</div>
